*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-grey: #353535;
  --clr-accent: #00bbdd;
}

.massiveContainer {
  display: flex;
}
.navLeft {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30vw;
  background-color: var(--clr-accent);
}

.profilePicture {
  height: 150px;
  width: 150px;
  background: url(../assets/profilePic.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0px;
}

.username {
  font-size: 2.25rem;
  text-align: center;
  color: white;
}

.navBarList {
  list-style: none;
  padding: 0px 0px;
  margin: 20px 20px;
}

.navBarListItem {
  display: flex;
  background-color: white;
  margin: 30px 0px;
}

.navBarButton {
  z-index: 1;
  background-color: white;
  display: inline-block;
  margin: 0px 0px;
  padding: 12px 20px;
  border-radius: 0px;
}

.navBarButton:hover {
  border: solid 0px black;
}

.icon {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
  vertical-align: middle;
}

/* .icon::before {
  position: absolute;
  content: "";
  background-color: white; 
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 19;
  border: solid 3px black;
} */

.icon::after {
  position: absolute;
  content: "";
  height: 48px;
  width: 48px;
  border-radius: 50%;
  z-index: 40;
  border: solid 3px red;
}

.updateProfileIcon {
  background: url(../assets/iconmonstr-user-5-48.png);
}

.createChallengeIcon {
  background: url(../assets/iconmonstr-edit-9-48.png);
}

.listChallengesIcon {
  background: url(../assets/iconmonstr-view-2-48.png);
}

.logoutIcon {
  background: url(../assets/iconmonstr-power-on-off-8-48.png);
}

.username::before,
.username::after {
  display: block;
  content: " ";
  height: 0px;
  width: 20vw;
  border: 1px solid black;
  background-color: black;
}

.challengesPageContainer {
  background-color: black;
  color: white;
  height: 100vh;
  width: 70vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoChallengesPage {
  position: absolute;
  top: 0%;
  right: 0%;
  display: block;
  margin-top: 20px;
  height: 100px;
  width: 100px;
  background: url(../assets/logoEdited.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.challengesPageSubcontainer {
  display: block;
  background-color: var(--clr-grey);
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
  width: 55vw;
  z-index: 10;
}

.title {
  font-size: 2.5rem;
  padding-top: 20px;
  margin: 0px;
  position: relative;
  display: block;
}

.title::before,
.title::after {
  position: relative;
  left: 10%;
  text-align: center;
  display: block;
  content: " ";
  height: 0px;
  width: 45vw;
  border: 1px solid white;
  background-color: white;
}

.title::before {
  top: -10px;
}

.title::after {
  bottom: -10px;
}

.challengesList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 30px;
  text-align: center;
  padding: 0;
}

.challengesListItem {
  font-size: 1.3rem;
  color: black;
  background-color: white;
  padding: 10px 20px;
  margin: 10px 30px;
  border-radius: 10px;
  border: 3px solid var(--clr-accent);
  max-width: 100%;
  align-items: center;
}

.challengeListButtons {
  width: 100%;
  height: 100%;
  background-color: white;
}

.challengeListButtons:enabled {
  border: none;
  background: none;
  outline: none;
}

.challengeListButtons:hover {
  border: none;
  outline: none;
}
