:root {
    --clr-accent :  #00BBD4;
    --clr-grey: #959595;
}

h1 {
    font-size: 1.30rem;
}

label {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 0px;
}

input, .emailDiv {
    margin-bottom: 15px;
    background-color: white;
    border-radius: 30px;
    border: 4px solid var(--clr-accent);
    color: var(--clr-grey);
}

button {
    border-radius: 30px;
    font-size: 1.5rem;
    margin-top: 15px;
}

button:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
}

.errorMessage {
    color: red;
}

.container {
    background-color: black;
    color: white;
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
}

.fieldContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.returnButton, .updateButton {
    color: white;
    background-color: black;
    margin: 20px;
}

.rightBackgroundContainer {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0px;
    background-color: red;
}