.App {
  text-align: center;
}

html, body {
  font-family: 'roboto';
  line-height: 150%;
  overflow: hidden; /* REMOVE THIS if you want scrolling...*/

}

section {
  color: #fff;
  text-align: center;

}

.btn-style {
  background-color: #3fb4b4; /* Green background */
  border: none;
  color: white; /* White text */
  font: 'roboto';
  font-size: 50px;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  display: block; /* Make the buttons appear below each other */
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

}

div {
  height: 100%;
  align-items: center;
}


h1 {
  font-size: 60px;
  align-self: center;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */

.container {
  display: table;

}

.left-half {
  align-items: center;
  background-color: #000;
  position: absolute;
  left: 0px;
  width: 40%;
  height:100%;
}

.right-half {
  background: url(./assets/background.png);
  position: absolute;
  right: 0px;
  width: 60%;
  height:100%;

}

.logo {
width: 700px;
height: 700px;

align-self: center;

}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
